<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<p>Are you sure?</p>
	<button id="yes">Yes</button>
	<button id="no">No, Go back</button>
</body>
<script>

$("#yes").click(function() {
	window.location.replace("/shutdown");
});

$("#no").click(function() {
	window.location.replace("/");
});


</script>
