<!DOCTYPE html>
<html lang="en">
<head>
<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<p id="newData">greeneisaac@inaburrastudents.nsw.edu.au</div>
</body>
<script>

var dataSource = new EventSource("{{ url_for('getData') }}");
dataSource.onmessage = function(e) {
	$("#newData").text(e.data);
};

</script>
<style>

#newData {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, 0);
}

</style>