<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand"><img class="img-responsive" width="30px" src="static/LapisIcon.png"/></a>
  </div>
</nav>

{% if loginState == False %}
<h1 id="title">LAPIS</h1>
<p id="note"><small>Year 12 major work by Isaac Greene</small><p>
{%  endif %}


<style>
.navbar {
    border-top: 3px solid #03A9F4;
    border-radius: 0px;
}
.navbar {
    position: relative;
}
.navbar-brand {
    position: absolute;
    up: 50%;
    left: -6px;
    margin-top: -7.5px !important;
    display: block;
}
#title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 70px;
    display: table;
    white-space: nowrap;
    border-spacing: 25px 0;
}
#title:before, #title:after {
  content: "";
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: -moz-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: -ms-linear-gradient(#aaa, #aaa) repeat-x left center;
  background: linear-gradient(#aaa, #aaa) repeat-x left center;
  background-size: 1px 1px;
}
body {
    font-family: sans-serif;
}
#note {
    font-style: italic;
    text-align: center;
}
</style>
</body>
</html>