{% include "header.html" %}
<body>
    {% include "menubar.html" %}
    <h1>Current students</h1>
    {% if currentStudents %}{{ currentStudents }}{% else %}No Students have been registered{% endif %}
    </br>
	<h1>Register students</h1>
    <p>To register a student please enter their email</p>
    <p>After you click submit the student you entered will be sent a confirmation email</p>
    <form action="/mystudents" method="post">
		<input type="email" placeholder="student email" name="studentEmail">
		<input type="submit" value="Submit">
	</form>
    {% if error %}
		<p>{{ error }}</p>
	{% endif %}
</body>
</html>
