{% include "header.html" %}
<body>
    {% include "menubar.html" %}
    <h1>Reset Password</h1>
    <p>Please enter your new password below</p>
    <form action="/resetPassword" method="post">
        <input type="password" placeholder="password" name="resetPassword" required>
        <input type="password" placeholder="repeat password" name="resetRepeatPassword" required>
        <input type="hidden" name="resetKey" {{ 'value=' + key }}>
		<input type="submit" value="Submit">
	</form>
    {% for i in messages %}
    <p>{{ i }}</p>
    {% endfor %}
</body>
</html>
