{% include "header.html" %}

<body>
    {% include "menubar.html" %}
	<h1>Please signup</h1>
	<form action="/signup" method="post">
		<input type="email" placeholder="email" name="signupEmail" required>
		<input type="password" placeholder="password" name="signupPassword" required>
        <input type="password" placeholder="repeat password" name="signupRepeatPassword" required>
		<input type="submit" value="Submit">
	</form>
    </br>
    <h4>Forgot or want to reset your password?</h4>
    <p>Enter your email below</p>
    <form action="/sendResetPasswordEmail" method="post">
		<input type="email" placeholder="email" name="userEmail" required>
		<input type="submit" value="Submit">
	</form>
	{% if error %}
		<p>{{ error }}</p>
	{% endif %}
</body>
</html>
